<!DOCTYPE html>
<html>
    <head>
        <title>Level {$level}</title>
        <link rel="stylesheet" href="/css/style.min.css" type="text/css" />
        <style>
            #error{ 
                width:300px;
            }
        </style>
        {block name=styles}{/block}
        
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20402876-2']);
            _gaq.push(['_setSiteSpeedSampleRate', 50]);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        {block name=scripts}{/block}
    </head>
    <body>
        <p>&lt;- <a href="/levels">Return to the Level Index</a></p>
        <h1>Level {$level}</h1>
        <h3>{block name=levelSubHeading}{/block}</h3>

        {if isset($error) && $error}
        <!-- This div is for errors only. Do not enter! -->
        <div id="error" class="error">{$error}</div>
        {/if}
        
        {if isset($hint) && $hint}
        <!-- Psst, {$hint} -->
        {/if}

        {block name=levelArea}{/block}

        {if $userDoneLevel}
        <p>You have completed this already, click <a href="explained.php">here</a> to see the vulnerability explained.</p>
        {/if}

    </body>
</html>