{extends file="index_base.html"}
{block name=title}Pick a level{/block}
{block name=styles}{strip}
    <style type="text/css">
        #levels {
            width: 523px;
            float: left;
            clear: both;
            margin-bottom: 10px;
        }
        #leaderboard{
            width: 211px;
            float: left;
            margin-left: 30px;
        }
        #leaderboard h3{
            margin-bottom: 0.5em;
        }
        #nextLevelText{
            float: right;
        }
        #top20{
            list-style: none;
            padding-left: 10px;
        }
        .completedLevel{ 
            color: rgb(60, 160, 60)!important;
            transition: color 0.3s ease;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
        }
        .explainationLink{
            float: right;
        }
        .explainationLink a{
            color: rgb(60,60,60) !important;
            transition: color 0.3s ease;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
        }
        h3.levelHeading:hover .explainationLink a{
            color: rgb(0,0,0) !important;
        }
        h3.levelHeading:hover .completedLevel{
            color: rgb(0, 100, 0)!important;
        }
        .nextLevel{
            color: red !important;
        }
    </style>
{/strip}{/block}
{block name=content}{strip}
    <h1>Level Index</h1>
    <div id="levels" class="">
        <div class="success">You are logged in as {$name|escape}.</div>
        <div class="notice">
            &lt;- <a href="/logout.php">Logout</a>
        </div>
        {if $levels_completed >= $total_levels}
            <div class="notice">
                If you are interested, the source code for this site is now available on <a href="https://github.com/verath/verath.ibepeter.com" target="_blank">github</a>.
            </div> 
        {/if}
        <div class="notice">
            <h2>Choose a level</h2>
            <p>Click a level below to start hacking (and learning)!</p>
            
            {foreach $levels_status as $level}
                {if $level.completed}
                    <h3 class="levelHeading">
                        <a href="/levels/level{$level.id}" class="completedLevel">
                            Level {$level.id}
                        </a> 
                        <span class="explainationLink">
                            <a href="/levels/level{$level.id}/explained.php">
                                Explaination &amp; Comments
                            </a>
                        </span>
                    </h3>
                {elseif $level.hasAccess}
                    <h3>
                        <a href="/levels/level{$level.id}" class="nextLevel">
                            Level {$level.id}
                        </a>
                    </h3>
                {else}
                    <h3>
                        Level {$level.id}
                    </h3>
                {/if}
            {/foreach}
        </div>
    </div>
    <div id="leaderboard">
        <div class="notice">
            <h2>Stats</h2>
            <h3>Top 20</h3>
            <ul id="top20">
                {foreach $leaderboard_users as $user}
                    <li>{$user.level} / {$total_levels} - {$user.username}</li>
                {/foreach}
            </ul>
            <h3>Average levels completed</h3>
            <p>{$average_level} level(s) per user.</p>

        </div>
    </div>
{/strip}{/block}